n8n/FirecrawlScreenshotTelegramPost.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key_firecrawl }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url_site }}\",\n  \"formats\": [\"markdown\"]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        464
      ],
      "id": "8272abf9-ac89-444a-ae90-27785f35e328",
      "name": "Парсер веб страницы",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key_firecrawl }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url_site }}\",\n  \"formats\": [\n    \"json\",\n    \"screenshot\"\n  ],\n  \"onlyMainContent\": true,\n  \"waitFor\": 3000,\n  \"timeout\": 60000,\n  \"maxAge\": 3600000,\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"jsonOptions\": {\n    \"prompt\": \"Сделай краткое резюме статьи для бизнес-профессионалов.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        160
      ],
      "id": "924b6190-2db1-4094-91dc-66562b065c82",
      "name": "Скриншот страницы",
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "# 🤖 Система автоматического скрапинга веб-страниц с ИИ\n\n---\n\n## 👤 Автор\n**[Nikita Shorin](https://www.youtube.com/@shorin_nikita)**\n\n---\n\n## 📝 Описание проекта\n\nВоркфлоу автоматически парсит веб-страницы, создает скриншоты, формирует контент с помощью ИИ и отправляет готовые посты в Telegram.\n\n---\n\n## ⚙️ Настройка и конфигурация\n\n### 🔴 **1. FireCrawl API**\n- **Получение ключа:** Зарегистрируйтесь на [firecrawl.dev](https://www.firecrawl.dev/referral?rid=LGGW3NBT)\n- **Настройка:** В соответствующей ноде замените `api_key_firecrawl` на реальный API-ключ\n\n### 🔵 **2. Telegram Bot**\n- **Создание бота:** Перейдите к [@BotFather](https://t.me/BotFather/) и создайте нового бота\n- **Настройка API:** В ноде \"sendMessage\" замените `api_key_telegram` на токен вашего бота\n- **Настройка чата:** Замените `chat_id` на ID целевого чата для отправки постов\n\n### 🟢 **3. OpenAI API**\n- **Получение ключа:** Создайте API-ключ на [platform.openai.com](https://platform.openai.com/api-keys)\n- **Настройка:** Настройте учетные данные OpenAI в ноде \"GPT 4.1\"\n\n---\n\n## 🛠️ Основные функции\n\n| Функция | Статус | Описание |\n|---------|--------|----------|\n| Парсинг веб-сайтов | ✅ | Автоматическое извлечение контента с помощью FireCrawl |\n| Создание скриншотов | ✅ | Генерация визуальных превью страниц |\n| ИИ-обработка контента | ✅ | Создание структурированных постов с помощью GPT |\n| Отправка в Telegram | ✅ | Автоматическая публикация готового контента |\n\n---\n\n## 🎯 Результат работы\n\n**Что получает пользователь:**\n- 📸 Скриншот главной страницы сайта\n- 📄 Структурированное описание контента\n- 🚀 Готовый пост в Telegram-канале/чате\n\n---\n\n## 🔧 Технический стек\n\n- **Парсинг:** FireCrawl API\n- **ИИ:** OpenAI GPT-4\n- **Мессенджер:** Telegram Bot API\n- **Автоматизация:** n8n workflow",
        "height": 1232,
        "width": 1064,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -160
      ],
      "id": "16067301-43f4-4188-a2ee-27288228e8dd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 234,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        304
      ],
      "id": "d8421048-9f3e-401e-8a90-18fbd8f045ab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.telegram.org/bot{api_key_telegram}/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "ВСТАВЬ СВОЙ ID | @username_to_id_bot"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "photo",
              "value": "={{ $json.data.screenshot }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        320
      ],
      "id": "b05315d4-066c-4e37-87a1-92bbe04e9937",
      "name": "Send Message"
    },
    {
      "parameters": {
        "content": "",
        "width": 170,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        640
      ],
      "id": "ba6da68d-f05d-4bcf-8f97-df296d3050b9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        688
      ],
      "id": "3c91d88d-8c9d-4a68-8d12-4e48c6ed5cc4",
      "name": "ИИ модель",
      "credentials": {
        "openAiApi": {
          "id": "kxjGbPTTXFAfAr4U",
          "name": "OpenAI v7.23"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.markdown }}",
        "messages": {
          "messageValues": [
            {
              "message": "==Ты — аналитик веб-контента для Telegram-канала об ИИ, технологиях и автоматизации. Тебе дан контент веб-страницы. Определи ТИП контента и создай соответствующую выжимку на русском для Telegram с parse_mode=HTML.\n\nЭТАП 1 - ОПРЕДЕЛИ ТИП:\n- Коммерческий сайт/лендинг (продают услуги/продукты)\n- Статья/блог (информационный контент)\n- Документация/инструкция\n- Новости/анонсы\n\nЭТАП 2 - СТРУКТУРА ПО ТИПУ:\n\nДЛЯ КОММЕРЧЕСКИХ САЙТОВ:\n1) <b>Что это:</b> Компания/агентство + основная специализация в 1 предложении\n2) <b>Услуги:</b> Конкретный список что предлагают (2-3 ключевых позиции БЕЗ ЦЕН если цены неточные)\n3) <b>Для кого:</b> Целевая аудитория + какую проблему решают\n4) <b>Как заказать:</b> Способ связи или призыв к действию\n\nДЛЯ СТАТЕЙ/БЛОГОВ:\n1) <b>О чём статья:</b> Основная тема в 1-2 предложениях\n2) <b>Ключевые факты:</b> 2-3 главных момента без воды\n3) <b>Практическая польза:</b> Что читатель узнает/поймет\n4) Призыв: \"Детали в статье\" или \"Сохрани полезное\"\n\nФОРМАТИРОВАНИЕ ДЛЯ TELEGRAM HTML:\n- Тон: информативный, без воды и рекламных слов\n- Эмодзи: 1-2 для структуры\n- Длина: ≤ 600 символов (с тегами)\n- ПЕРЕНОСЫ СТРОК: Используй символ перевода строки между блоками\n- Разметка: ТОЛЬКО <b> и <i> (только эти теги поддерживаются!)\n- СТРОГО ЗАПРЕЩЕНО: <br>, <br/>, <p>, <div>, <strong>, <em>, <code>, <pre>, <blockquote>, <a>, любые другие теги\n- Никаких ссылок, хэштегов, упоминаний\n- ВАЖНО ПО ЦЕНАМ: Указывай цены ТОЧНО как в тексте (доллары, рубли, евро) или НЕ указывай вообще если неточно\n\nПРИМЅР ПРАВИЛЬНОГО ФОРМАТА (с переносами между блоками):\n<b>Что это:</b> Описание компании\n<b>Услуги:</b> Список услуг\n<b>Для кого:</b> Целевая аудитория\n<b>Как заказать:</b> Способ связи\n\nВАЖНО: Фокусируйся на ФАКТАХ - что конкретно предлагается/описывается, а не на эмоциях или общих фразах.\n\nВыведи ТОЛЬКО готовый пост БЕЗ пояснений, с переносами строк между блоками.\n\nКРИТИЧЕСКИ ВАЖНО: Используй обычные переносы строк, НЕ HTML теги!"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1424,
        464
      ],
      "id": "e4289628-06e5-429d-9574-d9329ae300a5",
      "name": "Создать пост"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        752,
        320
      ],
      "id": "505eb3bb-5185-45bf-9d9b-07939fba332e",
      "name": "When chat message received",
      "webhookId": "259fcad7-e055-4c33-ad74-cd225e7e37a2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78942da2-4425-4247-8083-35e40037b54a",
              "name": "url_site",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "dda7ff2b-feb9-4bcd-a1e3-fd0e2be71d41",
              "name": "api_key_firecrawl",
              "value": "ВСТАВИТЬ КЛЮЧ https://www.firecrawl.dev/app/api-keys",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        320
      ],
      "id": "8ba77111-5982-4417-8141-956818923a77",
      "name": "API КЛЮЧИ"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 190,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        272
      ],
      "id": "59794b3c-b1a0-4dac-8874-d9766b5594b0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1824,
        320
      ],
      "id": "a9655098-64ee-4e43-a5ba-3522b10429ed",
      "name": "Объединение данных"
    },
    {
      "parameters": {
        "url": "={{ $json.data.screenshot }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        160
      ],
      "id": "36a60702-05c9-4e4a-97ae-326c61ed3614",
      "name": "Получить скриншот",
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "",
        "height": 772,
        "width": 1580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        64
      ],
      "id": "6f5e9fb2-183b-44c5-bfa1-94e9d59d8a0a",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Парсер веб страницы": {
      "main": [
        [
          {
            "node": "Создать пост",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скриншот страницы": {
      "main": [
        [
          {
            "node": "Получить скриншот",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ИИ модель": {
      "ai_languageModel": [
        [
          {
            "node": "Создать пост",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Создать пост": {
      "main": [
        [
          {
            "node": "Объединение данных",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "API КЛЮЧИ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API КЛЮЧИ": {
      "main": [
        [
          {
            "node": "Скриншот страницы",
            "type": "main",
            "index": 0
          },
          {
            "node": "Парсер веб страницы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединение данных": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить скриншот": {
      "main": [
        [
          {
            "node": "Объединение данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "89117b89e6ee2e2d36a3f934f1a63e32c1c204c62e00bb625da8c39baf77c2c7"
  }
}
