n8n/http-handle.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $json['api_key'] }}/setWebhook?url={{ $json['url_webhook'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        600
      ],
      "id": "0046b690-97ee-470c-9007-7fa4ff382eaa",
      "name": "Telegram Привязка"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.wazzup24.com/v3/webhooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['api_key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"webhooksUri\": \"{{ $json['url_webhook'] }}\",\n  \"subscriptions\": {\n    \"messagesAndStatuses\": true,\n    \"contactsAndDealsCreation\": true\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        120
      ],
      "id": "e93b20a0-8a7b-4bb8-a9f3-4001f76eab99",
      "name": "Wazzup Привязка"
    },
    {
      "parameters": {
        "content": "# HTTP Ручки\n\n***\n\n**Автор:** [Никита Шорин](https://www.youtube.com/@shorin_nikita)\n\n***\n\n## Инструкция по привязке вебхуков\n### • Сделать связь между **СТАРТ** и нодой **SET** с которой будем работать\n### • Вставить API ключ в **api_key** в ноде **SET**\n### • Вставить адрес вебхука в **url_webhook** в ноде **SET**\n### • Запустить **Test workflow**\n### • Проверить результат в **Проверка Вебхука**\n\n***\n\n## Wazzup\nПервые 3 дня бесплатно\nРегистрация с бонусом ₽500 [по ссылке](https://wazzup24.com/?utm_p=qzzBpM)\n\n### Доступные каналы:\n• WhatsApp (серый wazzup - моментально по QR code)\n• WhatsApp WABA (официальная интеграция - после верификации в Meta)\n• Telegram Персональный\n• Telegram Bot\n• Instagram\n• Avito\n• VK\n• Viber\n\n***\n\n## Telegram Bot\nВсегда бесплатный\nРегистрация телеграм бота в [@BotFather](https:///t.me/botfather)\n\n\n***\n\n## [Присоединиться к сообществу по ИИ-автоматизации](https://t.me/PrideAIBot)",
        "height": 1020,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        40
      ],
      "id": "7068abfd-418f-48e7-9569-4b649bbd330d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f404bab6-5dfb-42a6-991f-c6fd6f05fe15",
              "name": "api_key",
              "value": "Заменить на API Wazzup",
              "type": "string"
            },
            {
              "id": "740e516f-160a-4ab2-82d6-a63382e3b803",
              "name": "url_webhook",
              "value": "Заменить на вебхук из основного Workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        80
      ],
      "id": "f4267758-4813-4176-84a4-c67dd403927f",
      "name": "SET Wazzup Личный"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f404bab6-5dfb-42a6-991f-c6fd6f05fe15",
              "name": "api_key",
              "value": "Заменить на API Wazzup",
              "type": "string"
            },
            {
              "id": "740e516f-160a-4ab2-82d6-a63382e3b803",
              "name": "url_webhook",
              "value": "Заменить на вебхук из основного Workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        380
      ],
      "id": "4a12ceb7-e7b6-4d7d-a227-4ff31cbfb940",
      "name": "SET Wazzup Клиента"
    },
    {
      "parameters": {
        "url": "https://api.wazzup24.com/v3/webhooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['api_key'] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        320
      ],
      "id": "d910b2f9-85aa-4473-aaea-6f91e02fb02e",
      "name": "Wazzup Проверка Вебхука"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $json['api_key'] }}/getWebhookInfo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        740
      ],
      "id": "708a5d13-f8db-459b-9779-f2f4053d92cc",
      "name": "Telegram Проверка Вебхука"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        460
      ],
      "id": "5c4f7835-fbff-489f-ab60-ae30dfd7cf4c",
      "name": "СТАРТ"
    },
    {
      "parameters": {
        "content": "## Wazzup\n",
        "height": 500,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        40
      ],
      "id": "a2f90dcf-d164-48d5-a127-4e3c7fad9ab4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Telegram Bot",
        "height": 500,
        "width": 820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        560
      ],
      "id": "d15b3378-74e7-4af4-8df2-04f2c3f0ba2b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f404bab6-5dfb-42a6-991f-c6fd6f05fe15",
              "name": "api_key",
              "value": "Заменить на API key Telegram bot | из @BotFather",
              "type": "string"
            },
            {
              "id": "740e516f-160a-4ab2-82d6-a63382e3b803",
              "name": "url_webhook",
              "value": "Заменить на вебхук из основного Workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        660
      ],
      "id": "7e6628ab-c3e3-4ace-8fd8-b177a7070b95",
      "name": "SET Telegram Bot 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f404bab6-5dfb-42a6-991f-c6fd6f05fe15",
              "name": "api_key",
              "value": "Заменить на API key Telegram bot | из @BotFather",
              "type": "string"
            },
            {
              "id": "740e516f-160a-4ab2-82d6-a63382e3b803",
              "name": "url_webhook",
              "value": "Заменить на вебхук из основного Workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        860
      ],
      "id": "856c0dde-827b-45c0-881f-6440aa930313",
      "name": "SET Telegram Bot 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $json['api key'] }}/getMe",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        900
      ],
      "id": "7b5eb6c7-ae4f-4092-9ed9-b3adb2055360",
      "name": "Telegram Данные Привязки"
    }
  ],
  "connections": {
    "SET Wazzup Личный": {
      "main": [
        [
          {
            "node": "Wazzup Привязка",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wazzup Проверка Вебхука",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET Wazzup Клиента": {
      "main": [
        [
          {
            "node": "Wazzup Привязка",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wazzup Проверка Вебхука",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СТАРТ": {
      "main": [
        [
          {
            "node": "SET Wazzup Личный",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET Telegram Bot 1": {
      "main": [
        [
          {
            "node": "Telegram Привязка",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Проверка Вебхука",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Данные Привязки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET Telegram Bot 2": {
      "main": [
        [
          {
            "node": "Telegram Привязка",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Проверка Вебхука",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Данные Привязки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89117b89e6ee2e2d36a3f934f1a63e32c1c204c62e00bb625da8c39baf77c2c7"
  }
}
