n8n/telegram_ai_bot.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "74e14772-fc81-456d-acc9-179d2e232fad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d07ef59-070c-4e57-ae1c-5e61c140889a",
                    "leftValue": "={{ $('Webhook').item.json.body.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fbee3dc-de53-4ee7-b88e-3415d89f8bb1",
                    "leftValue": "={{ $('Webhook').item.json.body.message.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78190833-73ff-4c43-af7a-35f9de9c7b5b",
                    "leftValue": "={{ $('Webhook').item.json.body.message.photo[3] }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        400
      ],
      "id": "a648fe13-a121-4912-b977-9b8cb1a52b84",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegam",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        280
      ],
      "id": "eab96923-b83c-46af-8dcd-df666db5d387",
      "name": "Webhook",
      "webhookId": "528ba51a-7eb4-4356-bfb6-244aefe46bf0"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image? Answer Russian.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2060,
        720
      ],
      "id": "fceb2206-5ba7-4428-a175-fc23a2d13c02",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "TrtfpYNJaLbwIzTC",
          "name": "OpenAi account VIDEO"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.photo[3].file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        720
      ],
      "id": "b53979eb-8ac5-44ea-82e2-ad8e7f73c669",
      "name": "Get File Info Image"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.voice.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        320
      ],
      "id": "0af3138f-1597-4dd7-a418-4603db29bf6a",
      "name": "Get File Info Voice"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        320
      ],
      "id": "c2d0cfb4-32a1-40cf-aef4-8c2a5a696a2d",
      "name": "Download Voice File"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.audio.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        520
      ],
      "id": "e1695977-701d-49c1-8a3b-e1c023c560c7",
      "name": "Get File Info Audio"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        520
      ],
      "id": "5499d74f-63d2-4cb5-896e-31bd13d6b69e",
      "name": "Download Audio File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2060,
        320
      ],
      "id": "34e39969-d828-47e2-afbb-150a6f5beeac",
      "name": "Transcribe a recording voice",
      "credentials": {
        "openAiApi": {
          "id": "TrtfpYNJaLbwIzTC",
          "name": "OpenAi account VIDEO"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2060,
        520
      ],
      "id": "55bb4072-855a-40c1-9721-516d971d1402",
      "name": "Transcribe a recording audio",
      "credentials": {
        "openAiApi": {
          "id": "TrtfpYNJaLbwIzTC",
          "name": "OpenAi account VIDEO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $('Transcribe a recording voice').item.json.text }}",
              "type": "string"
            },
            {
              "id": "cef2bdbf-3097-46e2-aafc-2ef202f81c26",
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "55817a18-1b48-46d9-ba30-e07e576310ec",
              "name": "telegram_bot_api_key",
              "value": "={{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        320
      ],
      "id": "91b7e285-5509-4287-9d28-5b23f528974b",
      "name": "text voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $('Transcribe a recording audio').item.json.text }}",
              "type": "string"
            },
            {
              "id": "d474666c-c1d3-44f6-b76e-587bd33556b8",
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "376cec58-690b-4036-887a-d8343c756d6c",
              "name": "telegram_bot_api_key",
              "value": "={{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        520
      ],
      "id": "a9de5c3f-82c9-47cd-bb8f-3ef5437000ad",
      "name": "text audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $('Analyze image').item.json.content }}",
              "type": "string"
            },
            {
              "id": "f642f03c-d0c9-42ec-96b2-57bd48f13a5c",
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "8d1aab82-79a7-45bc-8e02-1109326590ae",
              "name": "telegram_bot_api_key",
              "value": "={{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        720
      ],
      "id": "0d94e097-142a-447e-8c48-5369ef959d73",
      "name": "text photo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "c9fda88d-8884-434d-bcf8-97b4b43e01f8",
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "b547f855-056e-4d77-99d7-9f334dd3ff11",
              "name": "telegram_bot_api_key",
              "value": "={{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        120
      ],
      "id": "8b6c0ec4-67a9-4d21-b0cf-5dda8df4697c",
      "name": "text text"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        500
      ],
      "id": "d184af4a-5902-472f-80db-e77656fe0d04",
      "name": "text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.telegram_bot_api_key }}/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ],
      "id": "46ad03bf-ae17-4250-b6a7-348abad02185",
      "name": "Telegram typing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, прослушаю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        320
      ],
      "id": "41a03453-f2d5-4bfc-a6f4-94b06b823ea5",
      "name": "Just a moment voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, прослушаю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        520
      ],
      "id": "1c66dca1-1461-4769-9ebc-ebef32d77a7a",
      "name": "Just a moment audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, посмотрю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        720
      ],
      "id": "14f56dce-72fc-434a-b57b-03a89de56154",
      "name": "Just a moment photo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/deleteMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Just a moment voice').item.json.result.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        320
      ],
      "id": "1c035b13-11d2-4308-aded-5f10d2f52286",
      "name": "Delete just a moment voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/deleteMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Just a moment audio').item.json.result.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        520
      ],
      "id": "df56f83c-da21-4f21-b6ce-51b49a99d6fa",
      "name": "Delete just a moment audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/deleteMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Just a moment photo').item.json.result.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        720
      ],
      "id": "492dccc5-ec93-44a8-aa61-75491fad9e9e",
      "name": "Delete just a moment photo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Отвечай, как милая девушка. С заботой и вниманием."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2940,
        520
      ],
      "id": "cdc871ac-c66f-4c1a-b82a-ba1203ff3017",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3100,
        740
      ],
      "id": "13efa7fc-5db8-4043-97fc-05dfbee300ef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('text').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('text').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        520
      ],
      "id": "e35f77e7-7ec1-49e9-96a2-b05dea9bf72d",
      "name": "Send Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8cfb58-6572-4380-b4f8-4c5e8ee2c75d",
              "name": "telegram_bot_api_key",
              "value": "API KEY ЗАМЕНИТЬ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        280
      ],
      "id": "c2ac60db-5997-43b0-9ea6-e4f7c7d88a65",
      "name": "API KEY ЗАМЕНИТЬ"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "id": "ba6fff59-c010-4cd9-a0fa-2b49dfc8d405",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Инструкция по Telegram боту с AI\n\nАвтор: [Nikita Shorin](https://www.youtube.com/@shorin_nikita)\n\n## Описание\nВоркфлоу создает умного Telegram бота, который обрабатывает текст, голос, аудио и изображения с помощью OpenAI.\n\n## Настройка:\n\n1. 🔴 **API ключ Telegram бота**:\n   - Создайте бота в [@BotFather](https://t.me/botfather)\n   - В узле \"API KEY ЗАМЕНИТЬ\" замените на реальный токен \n\n2. 🟢 **OpenAI credentials**:\n   - Создайте API-ключ на [платформе OpenAI](https://platform.openai.com/api-keys)\n   - Настройте учетные данные OpenAI в соответствующих узлах\n\n3. 🟡 **Webhook**:\n   - Внутри ноды укажите path. Например, **telegram**\n   - Скачайте шаблон: [**http handle**](https://github.com/shorin-nikita/PrideAIBot/blob/main/n8n/HTTP%20handle.json) и выполните привязку вебхука\n\n4. 🔵 **AI Agent**:\n   - Измените **System prompt** под ваши задачи\n\n## Функции:\n- ✅ Ответы на текст\n- ✅ Транскрибация голоса/аудио\n- ✅ Анализ изображений\n- ✅ Память контекста\n- ✅ Статус \"печатает...\"\n\nБот работает на русском языке и показывает временные уведомления при обработке файлов.",
        "height": 900,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -20
      ],
      "id": "51ae5e30-a669-4347-b85b-043339f4c9db",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 580,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        300
      ],
      "id": "c46b57d3-2cda-44df-9867-57d0a8b9c6c5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 140,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2920,
        720
      ],
      "id": "6916b8ad-b6bb-4881-9350-0df3065e62cd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2960,
        740
      ],
      "id": "861c209b-b61a-44c5-938e-d4b6c9140633",
      "name": "GPT 4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "TrtfpYNJaLbwIzTC",
          "name": "OpenAi account VIDEO"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        240
      ],
      "id": "ccae8947-5813-4c71-834d-5f9fec562a75",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2920,
        500
      ],
      "id": "0af76598-2a2a-4134-87d6-79473bf99793",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 900,
        "width": 3440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -20
      ],
      "id": "75dfba53-60bc-4b76-9463-ef4354d9b0a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        820,
        20
      ],
      "id": "80702b1d-f188-4b7b-8a0d-c8f6611735ab",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "НОВЫЙ ЧАТ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ],
      "id": "9a3182b0-c54b-4b78-88b2-d803da0823e0",
      "name": "Send Message NEW CHAT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "824ed408-3e32-4af8-90ca-b11b924ad5f6",
              "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        280
      ],
      "id": "23b4fcee-0923-457d-b3c9-c343dd4787a5",
      "name": "Start command?"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        900,
        240
      ],
      "id": "4c3c6cf7-0d0a-466a-b153-220a22b00d04",
      "name": "Simple Memory1"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "text text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Just a moment voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Just a moment audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Just a moment photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "API KEY ЗАМЕНИТЬ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Delete just a moment photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info Voice": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info Audio": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Transcribe a recording audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording voice": {
      "main": [
        [
          {
            "node": "Delete just a moment voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording audio": {
      "main": [
        [
          {
            "node": "Delete just a moment audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text voice": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "text audio": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "text photo": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "text text": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram typing": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just a moment voice": {
      "main": [
        [
          {
            "node": "Get File Info Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just a moment audio": {
      "main": [
        [
          {
            "node": "Get File Info Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just a moment photo": {
      "main": [
        [
          {
            "node": "Get File Info Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete just a moment voice": {
      "main": [
        [
          {
            "node": "text voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete just a moment audio": {
      "main": [
        [
          {
            "node": "text audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete just a moment photo": {
      "main": [
        [
          {
            "node": "text photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "API KEY ЗАМЕНИТЬ": {
      "main": [
        [
          {
            "node": "Start command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Send Message NEW CHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start command?": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "api.ai1618.ru",
          "content-length": "504",
          "accept-encoding": "gzip, deflate",
          "content-type": "application/json",
          "x-forwarded-for": "91.108.5.33",
          "x-forwarded-host": "api.ai1618.ru",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "a30807168bae",
          "x-real-ip": "91.108.5.33"
        },
        "params": {},
        "query": {},
        "body": {
          "update_id": 248102418,
          "message": {
            "message_id": 13,
            "from": {
              "id": 6025341317,
              "is_bot": false,
              "first_name": "THE N",
              "username": "THE1N618",
              "language_code": "ru"
            },
            "chat": {
              "id": -4684392983,
              "title": "VIDEO group",
              "type": "group",
              "all_members_are_administrators": true,
              "accepted_gift_types": {
                "unlimited_gifts": false,
                "limited_gifts": false,
                "unique_gifts": false,
                "premium_subscription": false
              }
            },
            "date": 1753290247,
            "text": "/bot привет",
            "entities": [
              {
                "offset": 0,
                "length": 4,
                "type": "bot_command"
              }
            ]
          }
        },
        "webhookUrl": "https://api.ai1618.ru/webhook/telegam",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "89117b89e6ee2e2d36a3f934f1a63e32c1c204c62e00bb625da8c39baf77c2c7"
  }
}
